.section_1 {
  position: relative;
  /*height: 50vh;*/

  .bg {
    width: 100%;
    background-size: cover;
    margin-top: -10px;

  }

  .title {
    position: absolute;
    top: 260px;
    right: 200px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 9rem;
    color: white;
  }
  .sub_title_2 {
    max-width: 500px;
    position: absolute;
    top: 380px;
    right: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.5;
    color: white;
  }
}