
.section_5 {

  background-color: #b07cf7;
  height: 100vh;
  margin-top: -10px;
  text-align: center;

  .title_6 {
    margin: 0 auto;
    padding-top: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 9rem;
    color: white;
  }

  .sub_title_6 {
    margin: 0 auto;
    padding-top: 30px;
    max-width: 580px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.7rem;
    line-height: 1.5;
    color: white;
  }

  .box_flex {
    display: flex;
    justify-content: center;


    .box_1 {
      position: relative;
      text-align: left;

      &:after {
        content: "";
        display: block;
        margin: 0 14px;
        height: 118px;
        position: absolute;
        bottom: 0;
        width: 370px;
        left: 0;
        background: transparent;
        background-image: linear-gradient(to bottom, #0000, #000);
        opacity: 0.8;
        z-index: 0;
      }

      .blog {
        line-height: 0;
        margin: 45px 14px 0 14px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);

      }

      .main_txt_1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 2rem;
        max-width: 320px;
        position: absolute;
        top: 260px;
        left: 40px;
        color: white;
        z-index: 1;
      }

      .txt_1 {
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        font-size: 1.3rem;
        position: absolute;
        top: 320px;
        left: 40px;
        color: white;
        z-index: 1;
      }

    }
    .date {
      position: absolute;
      top: 74px;
      left: 40px;
      text-align: center;
      border-radius: 5px;
      width: 60px;
      height: 60px;
      text-decoration: none;
      color: white;
      opacity: 0.6;
      background-color: #000;
      text-transform: uppercase;
      font-size: 2rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 700;
      display: inline-block;

      span {
        font-size: 2.8rem;
      }
    }

  }
  .btn_red {
    margin-top: 50px;
    background-color: #f72b3b;
    width: 200px;
  }

}